source/AppendMilitaryFeaturesCS/MappingRules.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MappingRules">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="MappingRule">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="xs:string" />
              <xs:element name="FeatureDataSet" type="xs:string" />
              <xs:element name="FeatureClass" type="xs:string" />
              <xs:element name="GeometryType" type="xs:string" />
              <xs:element name="MatchingExpressions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Expression" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>